@model UserViewModel
@{

    ViewBag.Title = "RegisterUser";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
}

<h2>RegisterUser</h2>
@using (Html.BeginForm("RegisterUser", "User", FormMethod.Post))
{
@Html.AntiForgeryToken()


<div class="row ">
    <!--- For Name---->
    <div class="col-sm-12">
        <div class="row">
            <div class="col-xs-4">
                <label class="firstname">First Name :</label>
            </div>
            <div class="col-xs-8">
                @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control ", @placeholder = "İsminizi Giriniz" })
                <span class="glyphicon glyphicon-remove alert-danger">@Html.ValidationMessageFor(x => x.FirstName)</span>
            </div>
        </div>
    </div>


    <div class="col-sm-12">
        <div class="row">
            <div class="col-xs-4">
                <label class="lastname">Last Name :</label>
            </div>
            <div class="col-xs-8">
                @Html.TextBoxFor(x => x.LastName, new { @class = "form-control ", @placeholder = "Soyisminizi Giriniz" })
                <span class="glyphicon glyphicon-remove alert-danger">@Html.ValidationMessageFor(x => x.LastName)</span>
            </div>
        </div>
    </div>
    <!-----For email---->
    <div class="col-sm-12">
        <div class="row">
            <div class="col-xs-4">
                <label class="mail">Email :</label>
            </div>
            <div class="col-xs-8">
                @Html.TextBoxFor(x => x.EMail, new { @class = "form-control ", @placeholder = "Email Giriniz" })
                <span class="glyphicon glyphicon-remove alert-danger">@Html.ValidationMessageFor(x => x.EMail)</span>
            </div>
        </div>
    </div>
    <!-----For Password and confirm password---->
    <div class="col-sm-12">
        <div class="row">
            <div class="col-xs-4">
                <label class="pass">Password :</label>
            </div>
            <div class="col-xs-8">
                @Html.TextBoxFor(x => x.Password, new { @class = "form-control ",type="password", @placeholder = "Şifre Giriniz" })
                <span class="glyphicon glyphicon-remove alert-danger">@Html.ValidationMessageFor(x => x.Password)</span>
            </div>
        </div>
    </div>

    <!-----------For Phone number-------->
    <div class="col-sm-12">
        <div class="row">
            <div class="col-xs-4 ">
                <label class="gender">Gender:</label>
            </div>

            <div class="col-xs-4 male">
                @Html.RadioButtonFor(x => x.Gender, 1)Male

            </div>

            <div class="col-xs-4 female">
                @Html.RadioButtonFor(x => x.Gender, 0)Female

            </div>

        </div>
        <div class="col-sm-12">
            <button type="submit" class="btn btn-warning">Kaydet</button>
        </div>
    </div>
</div>
}